<html>
<head>
	<meta charset="UTF-8">
	<title>Thank You for submitting Form</title>
	<!--<link rel="stylesheet" type="text/css" href= "/css/Teach.css">-->
	<link rel="stylesheet" type="text/css" href= "/css/nav-bar.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		h1,h3{
		  color:white;
		}
		h1{
			margin: 50px auto;
		}
		.container {
		  border-radius: 5px;
		  background-color: black;
		  padding: 20px;
		  width: 60%;
		  position: absolute;
		  left: 20%;
		  right: 20%;
		  top: 25%;
		  font-size: 30px;
		  font-weight: bold;
		  border-radius:25px;
		}
		a{
  		  text-decoration: none;
  		  color:white;
		}

		button{
		  background-color: #023160;
		  color: white;
		  padding: 20px 25px;
		  border: 2px solid #2ecc71;
		  border-radius: 4px;
		  cursor: pointer;
		  border-radius:25px;
		  width: 200px;
		  float: left;
		  /*
		  FOR NORMAL SCREEN SIZE
		  margin: auto 140px;*/
		  margin: auto 46px;
		}

		button:hover {
		  background-color: #2ecc71;
		}
		body {
  		  font-family: Arial, Helvetica, sans-serif;
          box-sizing: border-box;
  		  background-color:#1a426b;
		}

		@media only screen and (max-width: 800px) {
          button {
            margin: auto 46px;
 		  }
		}

	</style>
</head>

<body>

	<div class ="container">
		<h1>Thank You!</h1>
		<h3> Form was submitted successfully! </h3>
		<div class = "button">
			<button id = "home-button">
				<a href="/" class="click"> Return to Login </a>
			</button>
		</div>
	</div>

 <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  
</body>
</html>
