<!doctype html>
<html>
  <head>
    <title> hirescreen </title>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href = "css/ActivityScreen.css">
  </head>

  <body>
  	<h1> Activity Page </h1>
      <div class = "profile"> 
        <img src = /images/profile.pic class = "img" >
        <h3> {{name}} </h3>
      </div>

      <input type="text" id="myInput" onkeyup="searchBar()" placeholder="Search" title="Type in a name"> 
      <div class = "dropdown">
        <button class = "dropdown-button"> Activity </button>
        <div class = "dropdown-content">
          <a href = "#"> Arts </a>
          <a href = "#"> Academics </a>
          <a href = "#"> Music </a>
          <a href = "#"> Sports </a>
          <a href = "#"> Other </a>
        </div>
      </div>

</body>
</html>