<!doctype html>
<html>

<head>
  <title> hirescreen </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/nav-bar.css">
  <link rel="stylesheet" type="text/css" href="/css/AddActivity.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

<!-- NAVIGATION BAR AT THE TOP -->
   
        <nav>
        <div id="logo"> </div>

        <div class="logo"><img src = ></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>

  <div class="container">
    <h3> Select an Activity </h3>
    <button onlick="activityFunction()"> 
      <div id="newActivity1">
        <i class="fas fa-dumbbell"></i>
    </div>
    </button>

    <button onlick="activityFunction()"> 
      <div id="newActivity2">
        <i class="fas fa-book-reader"></i>
    </div>
    </button>

    <button onlick="activityFunction()"> 
      <div id="newActivity3">
        <i class="fas fa-music"></i>
    </div>
    </button>

    <button onlick="activityFunction()"> 
      <div id="newActivity4">
        <i class="fas fa-paint-brush"></i>
    </div>
    </button>
  </div>


</body>
</html>