<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/HomeScreen.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>
<style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
</head>

<body>

<div class = "header">
	<h1> What seems to be the problem? </h1>
</div>


<div class = "header"> FAQ </div>
<div class = "container">
	<ul>
  	<li>How do I sign up for a lesson?</li>
  		<p class = "answer"> Go to "Looking to Learn" from the home screen and pick an activity that you want to learn! </p>
  	<li>How do I pay for a lesson?</li>
  		<p class = "answer"> Go to your profile from the home screen and look through your "Learning History" to see any lessons that still need payment!</p>
  	<li>How do I review a lesson?</li>
  		<p class = "answer"> Go to your profile from the home screen and look through your "Learning History" to review any past lessons!</p>
  	<li>How do I send a teacher a message?</li>
  		<p class = "answer"> You can email them through our "Hiring Screen". To get there, go to "Looking to Teach", select an activity and a teacher and then click "Hire"!</p>
</ul>
</div>
<h3>Still have questions?</h3>
<form id= "helpform" role="form" method="get" action="/add">
   <div class = "form-group">
   <div class = "col-75">
	<label for="help"> Submit any questions or concerns to our help center: </label>
    <textarea type ="text" class="form-control" id="help" placeholder="I need help with..." help="help" style="height:5%, width: 75%"></textarea>
	<div class="row">
      <div class = "button">
      <button id = "newPage1">
    <a href="/help" class="click">Submit</a>
  </button>
  </div>
</div>
</form>

<div class ="button" id = "button2">
        <button id="newPage1" >
          <a href= "/" class="click">Back</a>
        </button>
        <button id="newPage1" >
          <a href= "/home" class="click">Home</a>
        </button>
     </div>

 <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>