<!doctype html>
<html>
  <head>
    <title> hirescreen </title>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href = "css/HireScreen.css">
  </head>

  <body>
  	<h1> Hire Page </h1>
      <div class = "profile"> 
        <img src = /images/profile.pic class = "img" >
        <h3> Name </h3>
      </div>
  			
  		</div>
  		<div id = "container">
  			<div class = "distance"> 0.1 miles away</div>
  		</div>

  		<div id = "rating">
  			<div class = "rating">
  				<img src = images/stars.pic class = "rating">



  		<div id = "container">
  			<div class = "paragraph">
  			<p>
  				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus enim diam, adipiscing sodales sem ut, tristique suscipit odio. Nam mollis ipsum et venenatis euismod. Aliquam erat volutpat. Praesent placerat condimentum tristique. Morbi egestas dapibus viverra. Mauris sit amet dignissim risus, non elementum eros. Donec urna dui, placerat et feugiat non, vulputate in ipsum. Quisque dignissim pulvinar nisi.
  			</p>
  		</div>

  		<div>
  				<div class ="hireButton" id = "button1">
  					<button id="newPage" >
  				<a href= "actualhire.html" class="click">Hire</a>
  			</button>

  		</div>

  		<div class ="button" id = "button2">
  			<button id="newPage1" >
  				<a href= "tennislessons.html" class="click">Back</a>
  			</button>
  			<button id="newPage1" >
  				<a href= "HomeScreen.html" class="click">Home</a>
  			</button>
  			<button id="newPage1" >
  				<a href= "Help.html" class="click">Help</a>
  			</button>
  		</div>
  	</div>
  </div>
</body>
</html>