<!doctype html>
<html>
  <head>
    <title> hirescreen </title>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href = "/css/HomeScreen.css">
  </head>

  <body>
  	<h1> Hire Page </h1>
      <div class = "profile"> 
        <a href = "/profile"> <img src = /images/profile.pic class = "img" > </a>
        <h3> Name </h3>
      </div>
  			
  		</div>
  		<div id = "container">
  			<div class = "distance"> 0.1 miles away</div>
  		</div>

  		<div id = "rating">
  			<div class = "rating">
  				<img src = images/stars.pic class = "rating">



  		<h3>Send a Message to Book a Lesson</h3>
        <form id= "helpform" role="form" method="get" action="/add">
        <div class = "form-group">
       <div class = "col-75">
	    <label for="help"> Message: </label>
       <textarea type ="text" class="form-control" id="help" placeholder="Hi, I saw your listing on SkySight..." help="help" style="height:5%, width: 75%"></textarea>
    	<div class="row">
        <div class = "button">
        <button id = "newPage1">
     <a href="/hiresubmit" class="click">Send Message</a>
       </button>
     </div>
    </div>
    </form>

  		<div class ="button" id = "button2">
  			<button id="newPage1" >
  				<a href= "/tennis" class="click">Back</a>
  			</button>
  			<button id="newPage1" >
  				<a href= "/home" class="click">Home</a>
  			</button>
  			<button id="newPage1" >
  				<a href= "/help" class="click">Help</a>
  			</button>
  		</div>
  	</div>
  </div>
</body>
</html>
