<!doctype html>
<html>
  <head>
    <title> hirescreen </title>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href = "/css/HomeScreen.css">
    <script src="/js/app.js" type=:"text/javascript" > </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<style> 
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e
}
.bio {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white
}
</style>
  <body>

    <!-- NAVIGATION BAR AT THE TOP -->
   
        <nav>
        <div id="logo"> </div>

        <div class="logo"><img src = ></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">History</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>

  	<h1> Hire Page </h1>

    <div class = "container">
<div class = "bio">
    <img src = /images/profile.pic class = "hire-pic">
      <div class = "infoBox">
        <h4> Marc Isaia </h4>
      <label class ="hire"> Rating: </label>
      <div class = "starBox">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
      <label class = "hire"> Distance from you: </label>
      <div class = "box">
        <div class = "distance"> 0.1 miles away</div>
      </div>
       <label class = "hire"> Rate </label>
      <div class = "box">
        <div class = "distance"> $5/hour</div>
      </div>
      <div class = "BioBox">
        <div class = "bio"> I am a 4th year Political Science major at UCSD. I play for the UCSD NCAA Tennis Team and have experience coaching all levels from beginner to advanced.</div>
      </div>
    </div>
    </div>
      

        
	    <label class = "message"> Send a Message to Book a Lesson: </label>
      <form id= "helpform" role="form" method="get" action="/add">
        <div class = "form-group">
       <textarea class = "paragraph" type ="text" class="form-control" id="help" placeholder="Hi, I saw your listing on SkySight..." help="help" style="height:400px"></textarea>
    	<div class="row">
        <div class = "button">
        <button id = "newPage1">
     <a href="/hiresubmit" class="submit">Send Message</a>
       </button>
     </div>
    </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
