<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/homePage.css">
	<script src="/js/app.js" type="text/javascript" > </script>
  <script src="/js/homePage.js" type="text/javascript"> </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

</head>

<body onload="startTime()">

        <!-- NAVIGATION BAR AT THE TOP -->

        <nav>
        <div id="logo">Sky High</div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/home">Home</a></li>

                <!--
                  FIRST & SECOND TIER DROPDOWN EXAMPLE
                <li>
                <!- First Tier Drop Down ->
                <label for="drop-2" class="toggle">Looking to Teach +</label>
                <a href="#">Looking to Teach</a>
                <input type="checkbox" id="drop-2"/>
                <ul>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Links</a></li>
                    <li>
                       
                    <!- Second Tier Drop Down ->        
                    <label for="drop-3" class="toggle">Academics +</label>
                    <a href="#">Tutorials</a>         
                    <input type="checkbox" id="drop-3"/>

                    <ul>
                        <li><a href="#">HTML/CSS</a></li>
                        <li><a href="#">jQuery</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                    </li>
                </ul>
                </li>
                -->

                <li><a href="/profile">Profile</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>


	<h1> Home Page </h1>
      <div class = "profile"> 
        <!-- Turning profile pic into link -->
        <a href = "/profile"> <img src = /images/profile.pic class = "img" > </a>
        <h3> {{name}} </h3>
      </div>
        

      <h2> I am... </h2>

      <div class = "button" id=button1>
        <button id="newPage"> 

           <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Looking to Teach <span class="caret"></span></button>

              <a href="/teach" class="click">

              <ul class="dropdown-menu">
          
                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Academics <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">English</a></li>
                    <li><a tabindex="-1" href="#">Math</a></li>
                    <li><a tabindex="-1" href="#">Programming</a></li>
                    <li><a tabindex="-1" href="#">Science</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Art <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Drawing</a></li>
                    <li><a tabindex="-1" href="#">Painting</a></li>
                    <li><a tabindex="-1" href="#">Photography</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Music <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Drums</a></li>
                    <li><a tabindex="-1" href="#">Flute</a></li>
                    <li><a tabindex="-1" href="#">Guitar</a></li>
                    <li><a tabindex="-1" href="#">Piano</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Sports <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Dance</a></li>
                    <li><a tabindex="-1" href="#">Golf</a></li>
                    <li><a tabindex="-1" href="#">Surfin</a></li>
                    <li><a tabindex="-1" href="/tennis">Tennis</a></li>
                  </ul>
                </li>

                <li><a tabindex="-1" href="#">Other</a></li>

              </ul>
            </a>
            </div>

        </button>
      </div>

      <div class = "button" id=button2>
        <button id="newPage" > 

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Looking to Learn <span class="caret"></span></button>

              <a href="/learn" class="click">

              <ul class="dropdown-menu">
          
                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Academics <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">English</a></li>
                    <li><a tabindex="-1" href="#">Math</a></li>
                    <li><a tabindex="-1" href="#">Programming</a></li>
                    <li><a tabindex="-1" href="#">Science</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Art <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Drawing</a></li>
                    <li><a tabindex="-1" href="#">Painting</a></li>
                    <li><a tabindex="-1" href="#">Photography</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Music <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Drums</a></li>
                    <li><a tabindex="-1" href="#">Flute</a></li>
                    <li><a tabindex="-1" href="#">Guitar</a></li>
                    <li><a tabindex="-1" href="#">Piano</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-button1" tabindex="-1" href="#">Sports <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Dance</a></li>
                    <li><a tabindex="-1" href="#">Golf</a></li>
                    <li><a tabindex="-1" href="#">Surfin</a></li>
                    <li><a tabindex="-1" href="/tennis">Tennis</a></li>
                  </ul>
                </li>

                <li><a tabindex="-1" href="#">Other</a></li>

              </ul>
            </a>
            </div>

        </button>
      </div>

      <div class = "calendar-body">
          <div class=container> 
              <div class="card">
                <div class="front">
                  <div class="contentfront">
                    <div class="month">
                      <table>
                        <tr class="orangeTr">
                          <th>M</th>
                          <th>T</th>
                          <th>W</th>
                          <th>T</th>
                          <th>F</th>
                          <th>S</th>
                          <th>S</th>
                        </tr>
                        <tr class="whiteTr">
                          <th></th>
                          <th>1</th>
                          <th>2</th>
                          <th>3</th>
                          <th>4</th>
                          <th>5</th>
                          <th>6</th>
                        </tr>
                        <tr class="whiteTr">
                          <th>7</th>
                          <th>8</th>
                          <th>9</th>
                          <th>10</th>
                          <th>11</th>
                          <th>12</th>
                          <th>13</th>
                        </tr>
                        <tr class="whiteTr">
                          <th>14</th>
                          <th>15</th>
                          <th>16</th>
                          <th>17</th>
                          <th>18</th>
                          <th>19</th>
                          <th>20</th>
                        </tr>
                        <tr class="whiteTr">
                          <th>21</th>
                          <th>22</th>
                          <th>23</th>
                          <th>24</th>
                          <th>25</th>
                          <th>26</th>
                          <th>27</th>
                        </tr>
                        <tr class="whiteTr">
                          <th>28</th>
                          <th>29</th>
                          <th>30</th>
                          <th>31</th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </table>
                    </div>
                    <div class="date">
                      <div class="datecont">
                        <div id="date"></div>
                        <div id="day"></div>
                        <div id="month"></div>
                        <i class="fa fa-pencil edit" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <!---<div class="contentback">
                    <div class="backcontainer">
                      hhh
                    </div>
                  </div>--->
                </div>
              </div>
          </div> 
        </div>  
        <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
