<!DOCTYPE html>

<html lang = 'en' dir = 'ltr'>
	<head>
		<meta charset="utf-8">
		<title>Animated Login Form</title>
		<link rel="stylesheet" href="css/index.css">
		{{> facebook}}
	<script src="/js/facebook.js"></script>
	</head>
	<body>

		<div id="logo">
			<!--<img src="images/triton.png"> -->
	  </div>

		<form class = "box" action="/home">
			<div class="login">

			<h1>Login</h1>
		  <input type="text" name="" placeholder="Username" required>
			<input type="password" name="" placeholder="Password" required>
			<input type="submit" name="" value="Login">

		<p class="facebookLogin">Please login through Facebook
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
		</p>

		<div class="create">
			<a href="create_account.html" id="createacc">Create Account</a>
		</div>
		<div class="forgot">
			<a href="forgot_password.html" id="forgotpassword">Forgot Password?</a>
		</div>
		</form>

		</div>
	</body>
</html>
