<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/HomeScreen.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>

</head>

<body>
	<h1> Home Page </h1>
      <div class = "profile"> 
        <img src = /images/profile.pic class = "img" >
        <h3> {{name}} </h3>
        <a href="Profile.handlebars" class = "name"> Name</a>
      </div>
        

      <h2> I am... </h2>

      <div class = "button" id=button1>
        <button id="newPage"> 
          <a href="/teach" class="click">Looking to Teach</a> 
        </button>
      </div>

      <div class = "button" id=button2>
        <button id="newPage" > 
          <a href = "/learn" class="click">Looking to Learn </a>
        </button>
      </div>

      <!--<div class=container> 
      	<table>
      		<h3> {{Month}} </h3>
      		<tr>
      			<th> Sunday</th>
      			<th> Monday</th>
      			<th> Tuesday</th>
      			<th> Wednesday</th>
      			<th> Thursday </th>
      			<th> Friday </th>
      			<th> Saturday </th>
      	</table>
      </div> -->
        <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
