<html>
<head>
	<title>Home Page</title>
</head>

<body>
	<h1> Home Page </h1>
	<div id = "container">
      <div class = "profile"> 
        <img src = images/profile.pic class = "img" >
        <h3> Name </h3>
      </div>
        

      <h1> I am... </h1>

      <div class = "button" id = "button1">
        <button id="newPage"> 
          <a href="Looking-to-teach.html" class="click">Looking to Teach</a> 
        </button>
      </div>

      <div class = "button" id = "button2">
        <button id="newPage" > 
          <a href = "Looking-to-Learn.html" class="click">Looking to Learn </a>
        </button>
      </div>
    </div>
</body>
</html>
