<html>
<head>
	<meta charset="UTF-8">
	<title>Looking To Teach</title>
	<link rel="stylesheet" type="text/css" href= "/css/Teach.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>

</head>

<body>
	<h1> Looking to Teach </h1>
  <div class = "container">
      <div class = "Teach">
      <form id="addTeacherForm" role="form" method="get" action="/add">
		<h3>Choose a Skill</h3>
    <div class = "form-group">
      <label for="skill"
    <select name="Skills">
      <option value="Tennis">Tennis</option>
      <option value="Surfing">Surfing</option>
      <option value="Piano">Piano</option>
      <option value="Spanish">Spanish</option>
      <option value="Other">Other</option>
    </select>
    <h4>If other, enter skill: </h4>
    <input type ="text" class="form-control" id="skill" placeholder="n/a" skill="skill">
    </div>
	    <div class="form-group">
	      <label for="address">Practice Location: </label>
	      <input type="text" class="form-control" id="address" placeholder="Address" address="address">
	    </div>
	    <div class="form-group">
	      <label for="description">Bio:</label>
	      <input type="text" class="form-control" id="Bio" placeholder="Bio" name="Bio">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Submit Listing"></input>
	</form>
        <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  </div>
  
</body>
</html>
