<html>
<head>
	<meta charset="UTF-8">
	<title>Looking To Teach</title>
	<link rel="stylesheet" type="text/css" href= "/css/nav-bar.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color:#1a426b;
}


label, h3{
color: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 20px;
  color: #808080 ;
  border-radius: 24px;
  border: 2px solid #f1c40f;
  background-color:black;
}

a{
  text-decoration: none;
  color:white;
}

input[type=submit] {
  background-color: #023160;
  color: white;
  padding: 20px 25px;
  border: 2px solid #2ecc71;
  border-radius: 4px;
  cursor: pointer;
  border-radius:25px;
}

input[type=submit]:hover {
  background-color: #2ecc71;
}

.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  width: 60%;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 25%;
  font-size: 30px;
  font-weight: bold;
  border-radius:25px;
}

.header {
  margin: 100px;
  opacity: .5;
  color: white;
  font-size: 50px;
}

.buttonForm {
  background-color: #008CBA; /* Blue */
  border: solid;
  border-color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 100px;
  margin-right: 200px;
}
 img{
      width:90px;
      height:90px;
      margin: 7px 0px;
      display: inline;
    }

</style>

</head>

<body>

<!-- NAVIGATION BAR AT THE TOP -->
   
        <nav>
        <div id="logo"><img src = "images/onlyLogo.png"></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>

<!-- FORM -->

        <div class="container">
          <form action="/submit">
  
          <h3>INSTRUCTOR FORM</h3>
  
          <label for="skill">Skill</label>
          <select id="activity" placeholder="Choose a Skill">
            <option value="art"> Art </option>
            <option value="australia">Academics</option>
            <option value="canada">Music</option>
            <option value="usa">Sports</option>
            <option value="usa">Other</option>
          </select>
    
          <label for="fname">If Other: </label>
          <input type="text" id="fname" placeholder="Other skill..">

          <label for="lname">Practice Location</label>
          <input type="text" id="lname" placeholder="Location.." required>

          <label for="lname">Rate</label>
          <input type="text" id="lname" placeholder="$/hour" required>

          <label for="subject">Bio</label>
          <textarea id="subject" name="subject" placeholder="Tell us about yourself!" style="height:200px"></textarea>

          <input type="submit" value="Submit" href="/submit">
          </form>
        </div>

<!--

  <div class = "header"> </div>
	<h1> Become a Tutor </h1>
=======
	<div class ="header"> Become a Tutor </div>
>>>>>>> 133d753a0e04553136764ba176821692a6988754

  <div class = "card">
      <div class = "Teach">
      <form id="addTeacherForm" role="form" method="get" action="/hiresubmit">
    <div> 
    <div style="font-size:40px;" class = "form-group">
      <div class = "col-75">
      <label class = "dropdown" for="skill">Choose a skill: </label>
    <select style="font-size:25px;" name="Skills">
      <option >Tennis</option>
      <option >Surfing</option>
      <option >Piano</option>
      <option >Spanish</option>
      <option >Coding</option>
      <option >Dance</option>
      <option >Photography</option>
      <option >Other</option>
    </select>
  </div>
</div>
    <div class = "col-25">
    <label for="skill">If other: </label>
    <input type ="text" class="form-control" id="skill" placeholder="n/a" skill="skill">
    </div>
  </div>
  <div>
	<div class="form-group">
    <div class = "col-75">
	  <label for="address">Practice Location: </label>
	  <input type="text" class="form-control" id="address" placeholder="Address to meet" address="address" required>
	  </div>
  </div>
</div>
<div>
	  <div class="form-group">
      <div class="col-75">
	   <label for="description">Bio: </label>
	    <textarea class="text" type="text" class="form-control" id="description" placeholder="Tell us about yourself!" description="description" style="height:200px"></textarea>
	    </div>
    </div>
  </div>
  <div>
	   <div class="form-group">
      <div class="col-75">
	   <label for="rate"> Rate per hour: </label>
	   <input type="text" class="form-control" id="rate" placeholder="Rate in USD/hour" rate="rate" required>
	   </div>
   </div>
   </div>

  
	</form>

</div>
</div>

    <div class = "buttonForm">
          <a href= "/submit" class="click">Submit</a>
    </div>



  -->
	
        <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  
</body>
</html>
