<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/HomeScreen.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e
}

.bio {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 900px;
  max-height: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white
}

.header {
  margin: 100px;
  opacity: .5;
  color: white;
  font-size: 50px;
}

.buttonForm {
  background-color: #008CBA; /* Blue */
  border: solid;
  border-color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 50px;
  margin-right: 50px;
}
</style>

</head>
<body>

<div class="navbar">
  <a href="/edit"><i style="font-size:40px;" class="fa fa-fw fa-edit"></i> Edit</a> 
  <a href="/"><i style="font-size:40px;" class="fa fa-fw fa-user"></i> Logout</a>
</div>

<h1> Profile </h1> 

<div class = "bio">
    <img src = /images/profile.pic class = "hire-pic">
      <div class = "ProfileBox">
      	<h4> Name </h4>
      <label class = "hire"> Location: </label>
      <div class = "BioBox">
        <div class = "distance"> 9500 Gilman Drive La Jolla, CA 92120 </div>
      </div>
      <div class = "BioBox">
        <div class = "bio"> Insert personal bio Insert player bio dfndjasfkbsabkfhs lnkbv nsalnkbsjadl fkbjsadlikbsajl dkoasfjnv sakpdoji [pskoaDJWSI [KPSOJADSI kdsoji pkadosjin akodjsin kpdojaisfInsert player bio dfndjasfkbsabkfhs lnkbv nsalnkbsjadl fkbjsadlikbsajl dkoasfjnv sakpdoji [pskoaDJWSI [KPSOJADSI kdsoji pkadosjin akodjsin kpdojaisfInsert player bio dfndjasfkbsabkfhs lnkbv nsalnkbsjadl fkbjsadlikbsajl dkoasfjnv sakpdoji [pskoaDJWSI [KPSOJADSI kdsoji pkadosjin akodjsin kpdojaisf </div>
      </div>
    </div>
</div>

<div class = "bio">
	<h1> Learning History </h1>
	<div class = "BioBox">
        <div class = "bio"> No current learning history </div>
      </div>
	<h1> Teaching History </h1>
	<div class = "BioBox">
        <div class = "bio"> No current teaching history </div>
      </div>
</div>


 <!--   <div class="buttonForm">
  		<a href= "/home">Home</a>
  </div>
-->




<script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>


  <!--NAV bar at the bottom -->

  <div class="icon-bar">
  <a class="active" href="/home"><i class="fa fa-home fa-2x"></i></a> 
  <a href="/profile"><i class="fa fa-user-circle fa-2x"></i></a> 
  <a href="#"><i class="fa fa-history fa-2x"></i></a> 
  <a href="/help"><i class="fa fa-question fa-2x"></i></a>
</div>


  <style>
body {margin:0;}

.icon-bar {
  width: 100%;
  height: 7%;
  background-color: black;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.icon-bar a {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color:rgb(21, 31, 117);
  height: 100%;
}

.active {
  background-color: rgb(18, 39, 228);
  height: 100%;
}
</style>


</body>
</html>

