<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/HomeScreen.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="navbar">
  <a href="/edit"><i class="fa fa-fw fa-edit"></i> Edit</a> 
  <a href="/"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>

<h1> Profile </h1> 

<div class = "container">
    <img src = /images/profile.pic class = "hire-pic">
      <div class = "ProfileBox">
      	<h4> Name </h4>
      <label class = "hire"> Location: </label>
      <div class = "BioBox">
        <div class = "distance"> 9500 Gilman Drive La Jolla, CA 92120 </div>
      </div>
      <div class = "BioBox">
        <div class = "bio"> Insert personal bio Insert player bio dfndjasfkbsabkfhs lnkbv nsalnkbsjadl fkbjsadlikbsajl dkoasfjnv sakpdoji [pskoaDJWSI [KPSOJADSI kdsoji pkadosjin akodjsin kpdojaisfInsert player bio dfndjasfkbsabkfhs lnkbv nsalnkbsjadl fkbjsadlikbsajl dkoasfjnv sakpdoji [pskoaDJWSI [KPSOJADSI kdsoji pkadosjin akodjsin kpdojaisfInsert player bio dfndjasfkbsabkfhs lnkbv nsalnkbsjadl fkbjsadlikbsajl dkoasfjnv sakpdoji [pskoaDJWSI [KPSOJADSI kdsoji pkadosjin akodjsin kpdojaisf </div>
      </div>
    </div>
</div>

<div class = "container">
	<h3> Learning History </h3>
	<div class = "BioBox">
        <div class = "bio"> No current learning history </div>
      </div>
	<h3> Teaching History </h3>
	<div class = "BioBox">
        <div class = "bio"> No current teaching history </div>
      </div>
</div>


    <div>
  	<button id="newPage1" >
  		<a href= "/home" class="button">Home</a>
  	</button>
  </div>




<script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
