<!doctype html>
<html>
  <head>
    <title> hirescreen </title>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href = "css/HireScreen.css">
  </head>

  <body>
  	<h1> Teach Page </h1>
      <div class = "profile"> 
        <img src = /images/profile.pic class = "img">
        <h3> {{name}} </h3>
      </div>
</body>
</html>