<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/TennisScreen.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>

</head>
	<h1> Tennis Lessons </h1>
      <div class = "profile"> 
        <a href = "/profile"> <img src = /images/profile.pic class = "img" > </a>
        <h3> {{name}} </h3>
      </div>

      <div class = "dropdown">
        <button class = "dropdown-button"> Sort by: </button>
        <div class = "dropdown-content">
          <a href="#"> location </a>
          <a href="#"> relevent </a>
          <a href="#"> rating </a>
        </div>
      </div>


 <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
