html{
	font-family: Georgia;
	font-size: 1.5rem;
}

body{
	text-align: center;
}

h1{
	margin: 100px;
	opacity: .5;
}
h2{
	margin: 200px;
	text-align: left;
	font-size: 2rem;
}
.profile{
	float: right;
	display: inline;
	position: relative;
	bottom: 250px;
	padding:10px 10px;

}
.img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.button{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 200px;
	float:left;
	height: .5rem;
}
a.click{
	border-radius:5px;
	color: black;
	padding: 10px 10px 10px 10px;
	float: left;
}
a{
	text-decoration: none;
	color:#cc0000;
}
h3{
	position: block;
}

.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
