/*FIGURING OUT HOW TO DO RESPONSIVE BOOTSTRAP FORMATING*/
@media(min-width: 576px){}
@media(min-width: 768px){}
@media(min-width: 992px){}
@media(min-width: 1200px){}

.button{
	background-color: #191919; /* Green */
  	border: none;
  	color: white;
  	padding: 25px 20px;
  	text-align: center;
  	display: block;
  	font-size: 50px;
  	font-family: Georgia;
  	margin:30px auto 30px auto;
  	width:50%;
  	border-radius: 30px;
}

.button:hover{
	background: transparent;
}



html{
	font-family: Georgia;
	font-size: 1.5rem;
}

body{
	text-align: center;
	width:100%;
	margin:auto;
	min-width:600px;
	max-width:2000px;
	background-color: #1a426b;
	background-image: linear-gradient(white,#023160);
}

h1{
	margin: 100px;
	opacity: .5;
}
h2{
	margin: 100px;
	text-align: left;
	font-size: 2rem;
}
.profile{
	float: right;
	display: inline;
	position: relative;
	bottom: 250px;
	padding:10px 10px;

}
.img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}



/*.button{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 200px;
	float:left;
	height: .5rem;
	position: inline-block;
}
a.click{
	border-radius:5px;
	color: black;
	padding: 10px 10px 10px 10px;
	float: left;
}
a{
	text-decoration: none;
	color:#cc0000;
}
h3{
	position: block;
}

.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.icon-bar {
  width: 90px; /* Set a specific width */
 /* background-color: #555;  Dark-grey background 
}*/

/*.icon-bar a {
  display: block; 
  text-align: center; 
  padding: 16px;  Add some padding 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px; 
}

.icon-bar a:hover {
  background-color: #000; 
}

.active {
  background-color: #4CAF50; 
}*/
*/




/*dropdown
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
*/


/*calendar */
body{
  margin:0;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  height:100vh;
}

.container{
  width:600px;
  height:450px;
  position:relative;
  perspective: 1000px;
  left:calc(50% - 200px);
  top:calc(50vh - 100px);
}
.card{
  width:100%;
  height:100%;
  position:absolute;
  transform-style:preserve-3d;
  transition:transform 1s ease;
  cursor:pointer;
}
.back, .front{
  border-radius:6px;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility:hidden;
}
.contentfront{
  width:100%;
  height:100%;
  float:left;
  transform:translatez(60px);
  backface-visibility: hidden;
  transform-style:preserve-3d;
  
}
.contentback{
  width:100%;
  height:100%;
  float:left;
  transform:translatez(-60px);
  backface-visibility: hidden;
  transform-style:preserve-3d;
  
}
.back{
  transform:rotateY(180deg);
  background-color:#232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front{
  text-transform:uppercase;
  background-color:#232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.date{
  height:100%;
  width:35%;
  float:right;
  background-color:#6b26e6;
  border-radius:0 6px 6px 0;
  text-align:right;
  padding:30px 20px;
  box-sizing:border-box;
  transform-style:preserve-3d;
}
.datecont{
  height:100%;
  transform:translatez(10px) scale(1.1);
}
#date{
  font-size:100px;
  color:#ECECE7;
  font-family: ,'Montserrat';
  font-weight:600;
  float:right;
}
#day{
  float:right;
  font-size:29px;
  color:#000000;
  font-family: ,'Montserrat';
  font-weight:500;
}
#month{
  float:right;
  font-size:18px;
  color:#7d7d7d;
  font-family: ,'Montserrat';
  font-weight:200;
}
.date i{
  color:#ECECE7;
  position:absolute;
  bottom:10px;
  right:0;
}
.date i:hover{
  color:#232227;
  transition:.3s ease;
}
.month{
  height:100%;
  width:270px;
  float:left;
  padding:20px 30px;
  box-sizing:border-box;
}
.month table{
  width:100%;
}

/* change orange color to purple */
.orangeTr{
  color: #6b26e6;
}
.whiteTr{
  color:#ECECE7;
  
}
.whiteTr th:hover{
  color:#6b26e6;
  transition:.3s ease;
}
.month tr{
  height:65px;
}
.month th{
  width:14%;
  font-size:10px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

.flipped{
  transform:rotateY(-180deg);
  /*height:400px;
  width:200px;
  left:calc(50% - 100px);
  top:calc(50vh - 200px);*/
}
.backcontainer{
    backface-visibility: hidden;
  transform-style:preserve-3d;
  width:calc(100% - 60px);
  height:calc(100% - 40px);
  float:left;
  margin-left:30px;
  margin-top:20px;
  border-left:solid red 5px;
  background-color:red;
  transform:translatez(-60px) scale();
}


/* Top Menu Bar */

/*
body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

*/

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: black;
	height: 100;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	left: 200px;
	font-size:40px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #023160;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}