html{
	font-family: Georgia;
	font-size: 1.5rem;
}

body{
	text-align: center;
}

h1{
	margin: 100px;
	opacity: .5;
}
h2{
	margin: 200px;
	text-align: left;
	font-size: 2rem;
}
.profile{
	float: right;
	display: inline;
	position: relative;
	bottom: 250px;
	padding:10px 10px;

}
.img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.button {
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 200px;
	float:left;
	height: .5rem;
}
a.click{
	border-radius:5px;
	color: black;
	padding: 10px 10px 10px 10px;
	float: left;
}
a{
	text-decoration: none;
	color:#cc0000;
}
h3{
	position: block;
}

.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}

p.answer {
	text-align: left:
	font-size: 10px;
	color: #669999;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.scrollBar {
    max-height: 150px;
    
}

.container {
	border: solid black;
	background: #f1f1f1;
	width: 75%;
	height: 35%;
	margin-left: 100px;
	overflow-y: scroll;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.row {
	.button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
	}
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


